<%- include("../partials/header.ejs") %>
	<div class="container d-flex justify-content-center align-items-center mt-5">
		<div class="row">
			<div class="col-md-3 col-xl-4"></div>
			<div class="col-md-6 col-xl-4">
				<h1 style="text-align:center; color: white;">
					Add Idea
				</h1>
				<div class="card shadow p-3 m-3">
					<form action="/student/idea/new" method="POST">
						<div class="mb-3">
							<label class="form-label" for="Topic"><b>Idea</b></label>
							<input class="form-control" type="text" name="Topic" placeholder="Idea...">
						</div>
						<div class="mb-3">
							<label class="form-label" for="Pre_req"><b>Prerequisites for Interested People</b></label>
							<input class="form-control" type="text" name="Pre_req" placeholder="Pre Requisites... ">
						</div>
						<div class="mb-3">
							<label class="form-label" for="N_People"><b>Number of People Required</b></label>
							<input class="form-control" type="number" name="N_People" placeholder="Number of People...">
						</div>
						<div class="text-center">
							<button class="btn btn-primary">Submit!</button>
						</div>
				</div>
				</form>
			</div>
			<div class="col-md-3 col-xl-4"></div>
		</div>
	</div>
	</div>
	<%- include("../partials/footer.ejs") %>
