<%- include("../partials/header.ejs") %>
    <h2 style="text-align: center; margin: auto auto; margin-bottom: 0px; color: white;">Are You sure you want to delete
        this Book?</h2>

    <form action="/student/book/<%= book._id %>?_method=DELETE" method="POST">
        <div class="form-group" style="text-align:center;">
            <button class="btn btn-lg btn-danger">Yes</button>
            <button class="btn btn-lg btn-success">No</button>
        </div>
    </form>
    <%- include("../partials/footer.ejs") %>
